/* Styles for DataTable */

#example th,
#example td {
    padding: 10px;
    /* Add padding to table cells */
}

#example th {
    background-color: #f2f2f2;
    /* Light gray background for table header */
}

/* Styles for Edit/Delete buttons */
.editBtn,
.deleteBtn {
    padding: 5px 10px;
    /* Add padding to buttons */
    border: none;
    /* Remove button borders */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    background-color: #007bff;
    /* Blue color for buttons */
    color: #fff;
    /* White text color */
    border-radius: 3px;
    /* Add slight border radius */
}

.editBtn:hover,
.deleteBtn:hover {
    background-color: black;
    /* Darker blue color on hover */
}

